/* .themify_builder_35_row.module_row_0 Style */
.themify_builder_35_row.module_row_0.module_row {
	text-align: center
}

.themify_builder .text-35-0-0-1.module-text { font-family: Adamina;  } 
.themify_builder .text-35-0-0-1.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-35-0-0-1.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-35-0-0-1.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-35-0-0-1.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-35-0-0-1.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-35-0-0-1.module-text h6 { font-family: Adamina;  } 
/* .themify_builder_35_row.module_row_1 Style */
.themify_builder_35_row.module_row_1.module_row {
	text-align: center
}

.themify_builder .text-35-1-0-1.module-text { font-family: Adamina;  } 
.themify_builder .text-35-1-0-1.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-35-1-0-1.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-35-1-0-1.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-35-1-0-1.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-35-1-0-1.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-35-1-0-1.module-text h6 { font-family: Adamina;  } 
.themify_builder .text-35-1-0-1.module.module-text h2 { font-family: Adamina;  } 
/* .themify_builder_35_row.module_row_3 Style */
.themify_builder_35_row.module_row_3.module_row {
	text-align: center
}

.themify_builder .text-35-3-0-1.module-text { font-family: Adamina;  } 
.themify_builder .text-35-3-0-1.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-35-3-0-1.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-35-3-0-1.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-35-3-0-1.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-35-3-0-1.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-35-3-0-1.module-text h6 { font-family: Adamina;  } 
/* .themify_builder_35_row.module_row_4 Style */
.themify_builder_35_row.module_row_4.module_row {
	font-family: Adamina;
	text-align: center
}
.themify_builder_35_row.module_row_4.module_row h1 {
	font-family: Adamina
}
.themify_builder_35_row.module_row_4.module_row h2 {
	font-family: Adamina
}
.themify_builder_35_row.module_row_4.module_row h3:not(.module-title) {
	font-family: Adamina
}
.themify_builder_35_row.module_row_4.module_row h4 {
	font-family: Adamina
}
.themify_builder_35_row.module_row_4.module_row h5 {
	font-family: Adamina
}
.themify_builder_35_row.module_row_4.module_row h6 {
	font-family: Adamina
}

