/* .themify_builder_41_row.module_row_0 Style */
.themify_builder_41_row.module_row_0.module_row {
	text-align: center
}

.themify_builder .text-41-0-0-1.module-text { font-family: Adamina;  } 
.themify_builder .text-41-0-0-1.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-41-0-0-1.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-41-0-0-1.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-41-0-0-1.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-41-0-0-1.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-41-0-0-1.module-text h6 { font-family: Adamina;  } 
/* .themify_builder_41_row.module_row_1 Style */
.themify_builder_41_row.module_row_1.module_row {
	text-align: center
}

.themify_builder .text-41-1-0-1.module-text { font-family: Adamina;  } 
.themify_builder .text-41-1-0-1.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-41-1-0-1.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-41-1-0-1.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-41-1-0-1.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-41-1-0-1.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-41-1-0-1.module-text h6 { font-family: Adamina;  } 
.themify_builder .text-41-1-0-1.module.module-text h2 { font-family: Adamina;  } 
