/* .themify_builder_14_row.module_row_0 Style */
.themify_builder_14_row.module_row_0.module_row {
	text-align: center
}
.themify_builder_14_row.module_row_0.module_row>.builder_row_cover {
	background:rgba(0,0,0, 0.57)
}

.themify_builder .text-14-0-0-1.module-text { font-family: Adamina; color: #e0e0e0; text-align: center;  } 
.themify_builder .text-14-0-0-1.module-text h1 { font-family: Adamina; color: #e0e0e0;  } 
.themify_builder .text-14-0-0-1.module-text h2 { font-family: Adamina; color: #e0e0e0;  } 
.themify_builder .text-14-0-0-1.module-text h3:not(.module-title) { font-family: Adamina; color: #e0e0e0;  } 
.themify_builder .text-14-0-0-1.module-text h4 { font-family: Adamina; color: #e0e0e0;  } 
.themify_builder .text-14-0-0-1.module-text h5 { font-family: Adamina; color: #e0e0e0;  } 
.themify_builder .text-14-0-0-1.module-text h6 { font-family: Adamina; color: #e0e0e0;  } 
.themify_builder .text-14-0-0-1.module.module-text h1 { font-family: Almendra; color: #e0e0e0;  } 
.themify_builder .buttons-14-0-0-2 div.module-buttons { font-family: Adamina; text-align: center;  } 
.themify_builder .buttons-14-0-0-2div.module-buttons { color: #ffffff;  } 
.themify_builder .buttons-14-0-0-2 .module-buttons .module-buttons-item a { background-color: #ebebeb; background-color: rgba(235,235,235, 0.10); color: #ffffff; border-top-color: #f5f5f5; border-top-width: 2px; border-top-style: solid; border-right-color: #f5f5f5; border-right-width: 2px; border-right-style: solid; border-bottom-color: #f5f5f5; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #f5f5f5; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-14-0-0-2 .module-buttons .module-buttons-item a:hover { background-color: #000000; background-color: rgba(0,0,0, 0.00); color: #ffffff;  } 
/* .themify_builder_14_row.module_row_1 Style */
.themify_builder_14_row.module_row_1.module_row {
	background-color: #fafafa;
	text-align: center
}

.themify_builder .text-14-1-0-1.module-text { font-family: Adamina; text-align: center; padding-top: 40px;  } 
.themify_builder .text-14-1-0-1.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-14-1-0-1.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-14-1-0-1.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-14-1-0-1.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-14-1-0-1.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-14-1-0-1.module-text h6 { font-family: Adamina;  } 
/* .themify_builder_14_row.module_row_2 Style */
.themify_builder_14_row.module_row_2.module_row {
	text-align: center;
	padding-top : 2.5%;
	padding-bottom : 2.5%
}

/* .themify_builder_14_row.module_row_3 Style */
.themify_builder_14_row.module_row_3.module_row {
	background-color: #fafafa
}

.themify_builder .text-14-3-0-1.module-text { background-color: #fafafa; font-family: Adamina; text-align: center;  } 
.themify_builder .text-14-3-0-1.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-14-3-0-1.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-14-3-0-1.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-14-3-0-1.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-14-3-0-1.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-14-3-0-1.module-text h6 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text { background-color: #fafafa; font-family: Adamina; text-align: center;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text h6 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text a { color: #8a8383; text-decoration: underline;  } 
.themify_builder .text-14-sub_row_3-0-2-0-0.module-text a:hover { color: #c47676;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text { background-color: #fafafa; font-family: Adamina; text-align: center;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text h6 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text a { color: #8a8383; text-decoration: underline;  } 
.themify_builder .text-14-sub_row_3-0-2-1-0.module-text a:hover { color: #c47676;  } 
.themify_builder .image-14-sub_row_3-0-2-1-1.module-image a { color: #8a8383; text-decoration: underline;  } 
.themify_builder .image-14-sub_row_3-0-2-1-1.module-image a:hover { color: #c47676;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text { background-color: #fafafa; font-family: Adamina; text-align: center;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text h6 { font-family: Adamina;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text a { color: #8a8383; text-decoration: underline;  } 
.themify_builder .text-14-sub_row_3-0-2-2-0.module-text a:hover { color: #  c47676;  } 
.themify_builder .image-14-sub_row_3-0-2-2-1.module-image a:hover { color: #262323; color: rgba(38,35,35, 0.27);  } 
.themify_builder .text-14-3-0-3.module-text { margin-top: 2%;  } 
/* .themify_builder_14_row.module_row_4 Style */
.themify_builder_14_row.module_row_4.module_row {
	padding-top : 2.5%;
	padding-bottom : 2.5%
}

/* .themify_builder_14_row.module_row_5 Style */
.themify_builder_14_row.module_row_5.module_row {
	background-color: #fafafa;
	padding-top : 1.5%
}

.module_row_5 .module_column_0.tb_14_column{width:33.5273%;}.module_row_5 .module_column_1.tb_14_column{width:63.273%;}.themify_builder .text-14-5-1-1.module-text { font-family: Adamina;  } 
.themify_builder .text-14-5-1-1.module-text h1 { font-family: Adamina;  } 
.themify_builder .text-14-5-1-1.module-text h2 { font-family: Adamina;  } 
.themify_builder .text-14-5-1-1.module-text h3:not(.module-title) { font-family: Adamina;  } 
.themify_builder .text-14-5-1-1.module-text h4 { font-family: Adamina;  } 
.themify_builder .text-14-5-1-1.module-text h5 { font-family: Adamina;  } 
.themify_builder .text-14-5-1-1.module-text h6 { font-family: Adamina;  } 
/* .themify_builder_14_row.module_row_6 Style */
.themify_builder_14_row.module_row_6.module_row {
	padding-top : 2.5%;
	padding-bottom : 2.5%
}

/* .themify_builder_14_row.module_row_7 Style */
.themify_builder_14_row.module_row_7.module_row {
	background-image: url(http://localhost:81/kipepeomtp/wp-content/uploads/2017/06/Contact-Background-1024x512.jpg);
	text-align: center;
	color: #ffffff;
	padding-top : 10%;
	padding-bottom : 10%
}
.themify_builder_14_row.module_row_7.module_row h1 {
	color: #ffffff
}
.themify_builder_14_row.module_row_7.module_row h2 {
	color: #ffffff
}
.themify_builder_14_row.module_row_7.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_14_row.module_row_7.module_row h4 {
	color: #ffffff
}
.themify_builder_14_row.module_row_7.module_row h5 {
	color: #ffffff
}
.themify_builder_14_row.module_row_7.module_row h6 {
	color: #ffffff
}
.themify_builder_14_row.module_row_7.module_row>.builder_row_cover {
	background:rgba(0,0,0, 0.25)
}
.themify_builder_14_row.module_row_7.module_row>.builder_row_cover:before {
	background:rgba(5,5,5, 0.16)
}

